<div class="new-comment mt-3">
  <h5>コメント投稿はこちら</h5>
  <%= form_with model:[recipe, comment], local: true do |f| %>
    <%= f.text_area :recipe_comment, placeholder:"コメント入力", class: "form-control mb-2" %>
    <%= f.submit "送信" %>
  <% end %>
</div>
<table id="recipe_comment" class="comments">
  <tbody>
    <% recipe.comments.each do |comment| %>
      <tr>
        <td>
          <%= attachment_image_tag comment.user, :image,  format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></br>
          <%= link_to comment.user.name, user_path(comment.user) %>
        </td>
        <td><%= comment.recipe_comment %></td>
        <% if comment.user == current_user %>
          <td><%= link_to "Destroy", recipe_comment_path(recipe, comment), method: :delete, local: true, class: "btn btn-sm btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>