  <%= form_with(model: recipe, local: true) do |f| %>
    <div class="row mt-1">

      <div class="col-lg-5 col-md-12">
        <%= f.attachment_field :recipe_image, class: 'img_field', style: 'display:none;' %>
        <%= attachment_image_tag recipe, :recipe_image, fallback: 'no_image.jpg', onClick: "$('.img_field').click()", class: 'img-thumbnail img_preview' %>
        <script>
         $(function () {
            function readURL(input) {
              if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                  $('.img_preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[]);
              }
            }

            $('.img_field').change(function () {
              readURL(this);
            });
          });
        </script>
      </div>

      <div class="col-lg-7 col-md-12">
        <div class="form-group mt-1">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :memo, "メモ" %>
          <%= f.text_area :memo, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :food, "材料" %>
          <%= f.fields_for :foods do |t| %>
            <%= render "recipes/food_fields", f: t %>
          <% end %>
          <div id="detail-association-insertion-point-foods"></div>
          <div class="offset-10 mt-2">
            <%= link_to_add_association "＋追加", f, :foods,
            class: "btn btn-1",
            data: {
            association_insertion_node: '#detail-association-insertion-point-foods',
            association_insertion_method: 'append'
            }%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :food, "作り方" %>
          <%= f.fields_for :steps do |t| %>
            <%= render "recipes/step_fields", f: t %>
          <% end %>
          <div id="detail-association-insertion-point-steps"></div>
          <div class="offset-10 mt-2">
            <%= link_to_add_association "＋追加", f, :steps,
            class: "btn btn-1",
            data: {
            association_insertion_node: '#detail-association-insertion-point-steps',
            association_insertion_method: 'append'
            }%>
          </div>
        </div>
        <div class="form-group offset-2 mb-3">
          <%= link_to 'マイページに戻る', user_path(current_user), class: "btn btn-1" %>
          <%= f.submit "投稿する", class: "btn btn-3 ml-4" %>
        </div>
      </div>

    </div>
  <% end %>