<div class="container">
  <div class="row mt-3">
    <div class="col-lg-10 col-sm-12 mx-auto">

      <div class="row">
        <div class="col-lg-5 col-sm-12 mx-auto">
          <p id="notice"><%= notice %></p>
          <div><%= attachment_image_tag @recipe, :recipe_image, format: 'jpeg', fallback: "no_image.jpg", id: "img"  %></div>
          <% if @recipe.user == current_user %>
            <%= link_to 'レシピを編集する', edit_recipe_path(@recipe), class: "btn btn-1 mt-3 offset-3" %><br>
            <%= link_to 'レシピを削除する', recipe_path(@recipe.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-1 mt-2 mb-2 offset-3" %>
          <% end %>
        </div>
        <div class="col-lg-7 col-sm-12 mt-3">
          <h3><%= @recipe.title %></h3>
          <div class="row">
            <div class="col-3 mt-3"><%= @recipe.created_at.strftime('%Y.%m.%d') %></div>
            <div class="col-2 mt-3" id="like<%= @recipe.id %>" >
              <% if user_signed_in? %>
                <%= render 'likes/likes_btn', recipe: @recipe, like: @like %>
              <% end %>
            </div>
            <div class="col-1"></div>
            <div class="col-2"><%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "user-icon-mini" %></div>
            <div class="col-4 mt-3"><%= link_to @recipe.user.name, user_path(@recipe.user), class: "text-dark" %></div>
          </div>

          <table class="table table-sm">
            <tr><%= render_with_hashtags(@recipe.memo) %></tr>
          　<tr>
              <th>材料</th>
              <th>分量</th>
            </tr>
            <% @foods.each do |food| %>
            <tr>
             <td><%= food.item %></td>
             <td><%= food.quantity %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-lg-5 col-sm-12">
          <% if user_signed_in? %>
            <div id="errors"><%= render 'layouts/errors', obj: @comment %></div>
            <%= render 'comments/form', recipe: @recipe, comment: @comment %>
            <div id="comment"><%= render 'comments/index', recipe: @recipe %></div>
          <% else %>
            <%= render "layouts/guest_message" %>
          <% end %>
        </div>
        <div class="col-lg-7 col-sm-12">
          <h5><strong>作り方</strong></h5>
          <% @steps.each do |step| %>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-8"><%= step.process %></div>
              <div class="col-2"><%= attachment_image_tag step, :process_image, format: 'jpeg', fallback: "no_image.jpg", class: "step-img mb-2" %></div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>