<div class="container">
  <div class="row mx-auto mt-3">
    <div class="col-md-4 offset-2">
      <table>
        <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", size: "200x150" %>
        <tbody>
          <tr>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 pt-5">
      <% if @user == current_user %>
        <%= link_to 'レシピを投稿する', new_recipe_path, class: "btn btn-secondary" %></br>
        <%= link_to 'アカウント情報編集', edit_user_path(@user), class: "btn btn-secondary mt-1" %>
      <% end %>
    </div>
　</div>
　<div class="row mx-auto mt-3">
　  <%= render "recipes/index", recipes: @recipes %>
　</div>
</div>
