<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 col-md-12">
      <p id="notice"><%= notice %></p>
      <%= render "searches/search_box" %>
    </div>
    <div class="col-lg-9 col-md-12">
      <section><h3 class="mb-4">タイムライン</h3></section>
      <% @recipes.each do |recipe| %>
        <div class="row mb-3">
          <div class="col-lg-5 col-md-6">
            <%= link_to recipe_path(recipe.id), class: "link" do %>
              <%= attachment_image_tag recipe, :recipe_image, format: 'jpeg', fallback: "no_image.jpg", class: "index-img" %>
            <% end %>
          </div>
          <div class="col-lg-4 col-md-6 position-relative">
            <div class="row">
              <div class="col">
                <h5><strong><%= link_to recipe.title, recipe_path(recipe), class: "text-dark" %></strong></h5>
                <p><%= render_with_hashtags(recipe.memo) %></p>
              </div>
            </div>
            <div class="row position-absolute bottom-0 start-0 mt-5">
              <div class="col">
                <td><%= recipe.created_at.strftime('%Y.%m.%d') %></td>
                <%= link_to user_path(recipe.user), class: "text-dark ml-5" do %>
                  <td><%= recipe.user.name %></td>
                  <td><%= attachment_image_tag recipe.user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "user-icon" %></td>
                <% end %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
　</div>
</div>