<div class="container">
  <!--<div class="row">-->
  <!--  <div class="col-12">-->
      <div class="row mx-auto">
        <p id="notice"><%= notice %></p>
        <div class="top-img col-lg-10 col-md-12 mx-auto">
          <div class="top-message-box">
            <div class="message">
              P L A N T</br>
              B A C E</br>
              キッチン
            </div>
            <div class="sub-message mx-auto">
              <p>プラントベースの料理のレシピを</br>シェアしよう！</p>
            </div>
            <% unless user_signed_in? %>
              <div class="top-btn mt-3">
                <%= link_to 'プラントベースってなぁに？', home_about_path, class: "btn btn-3" %></br>
                <%= link_to 'アカウント登録', new_user_registration_path, class: "btn btn-2 mt-3" %>
                <%= link_to 'ログイン', new_user_session_path, class: "btn btn-2 mt-3 ml-3" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
<div class="row">
    <div class="col-12">
      <div class="row mt-5 pb-5">
        <div class="col-lg-3 col-md-12">
          <%= render "searches/search_box", tags: @tags %>
        </div>
        <div class="col-lg-9 col-md-12">
          <div class="row">
            <div class="col-lg-8 col-sm-4"><section><h3>新着レシピ</h3></section></div>
            <div class="col-lg-3 col-sm-4 mt-2">
              <div class="row">
                <h5 class="slider-nav">もっと見る  </h5>
                <%= link_to "", recipes_path, class: "fas fa-chevron-circle-right text-dark mt-1 ml-2" %>
              </div>
            </div>
          </div>
          <div id="slider" class="mt-2">
            <% @recipes.each do |recipe| %>
              <%= link_to recipe_path(recipe.id) do %>
                <%= attachment_image_tag recipe, :recipe_image, format: 'jpeg', fallback: "no_image.jpg", class: "slider-img" %>
                <h5 class="text-dark mt-2 mx-auto"><%= recipe.title %></h5>
              <% end %>
            <% end %>
          </div>
          <script>
            $(function() {
              $('#slider').slick({
                  dots: true, //ドットのナビゲーションを表示
                  autoplay: true, //自動再生
                  autoplaySpeed: 4000, //再生スピード
                  slidesToShow: 3, //表示するスライドの数
                  slidesToScroll: 3, //スクロールで切り替わるスライドの数

                  //レスポンシブ対応 画面幅768px
                  responsive: [{
                    breakpoint: 768,
                    settings: {
                      slidesToShow: 2,
                      slidesToScroll: 2,
                    }
                  },{
                    breakpoint: 425,
                    settings: {
                      slidesToShow: 2,
                      slidesToScroll: 2,
                    }
                  }]
              });
            });
          </script>
        </div>

      </div>
    </div>
  </div>
</div>
