<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row mx-auto">
        <p id="notice"><%= notice %></p>
        <!--<div class="col-lg-10 col-md-12 mx-auto">-->
          <div class="top-img">
            <div class="top-message-box">
              <div class="message mt-5">
                <h1>Plantbase　キッチン</h1>
              </div>
            </div>
          </div>
        <!--</div>-->
      </div>
      <div class="row mt-5 pb-5">
        <div class="col-lg-3 col-md-12">
          <%= render "searches/search_box" %>
        </div>
        <div class="col-lg-9 col-md-12">
          <div class="row">
            <div class="col-8"><section><h3>新着レシピ</h3></section></div>
            <div class="col-3 mt-2">
              <div class="row">
                <h5>もっと見る  </h5>
                <%= link_to "", recipes_path, class: "fas fa-chevron-circle-right text-dark mt-1 ml-2" %>
              </div>
            </div>
          </div>
          <div id="slider" class="mt-2">
            <% @recipes.each do |recipe| %>
              <%= link_to recipe_path(recipe.id) do %>
                <%= attachment_image_tag recipe, :recipe_image, format: 'jpeg', fallback: "no_image.jpg", class: "slider-img" %>
                <h5 class="text-dark mt-2 mx-auto"><%= recipe.title %></h5>
              <% end %>
            <% end %>
          </div>
          <script>
            $(function() {
              $('#slider').slick({
                  dots: true, //ドットのナビゲーションを表示
                  autoplay: true, //自動再生
                  autoplaySpeed: 4000, //再生スピード
                  slidesToShow: 3, //表示するスライドの数
                  slidesToScroll: 3, //スクロールで切り替わるスライドの数

                  //レスポンシブ対応 画面幅768px
                  responsive: [{
                    breakpoint: 768,
                    settings: {
                      slidesToShow: 2,
                      slidesToScroll: 2,
                    }
                  }]
              });
            });
          </script>
          <!--<#%= render "recipes/index", recipes: @recipes %>-->
        </div>
      </div>
    </div>
  </div>
</div>
