<h5>検索はこちら <i class="far fa-hand-point-down"></i></h5>
<div class="input-group mb-3">
  <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag (:word) %>
    <button type="submit"><i class="fas fa-search"></i></button></br>
  　<%= select_tag 'range' ,options_for_select([['レシピ', '1'], ['アカウント', '2']]) %>
    <%= select_tag 'search', options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
  <% end %>
</div>
<% if user_signed_in? %>
  <%= link_to 'レシピを投稿する', new_recipe_path, class: "btn btn-secondary mb-4" %>
<% end %>