<section class="search-logo"><i class="fas fa-search"></i> 検索</section>
<div class="input-group mb-3">
  <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag (:word) %>
    <button type="submit"><i class="fas fa-search"></i></button></br>
  　<%= select_tag 'range' ,options_for_select([['レシピ', '1'], ['アカウント', '2']]) %>
    <%= select_tag 'search', options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"]]) %>
  <% end %>
</div>
<div class="mb-3">
  <section class="search-logo"><i class="fas fa-hashtag"></i> タグ検索</section>
  <% tags.each do |tag|%>
    <%= link_to "#"+tag.hashname, hashtag_search_path(tag.hashname), {class: "btn btn-1 mb-2"} %>
  <% end %>
</div>

