<header>
  <nav class="navbar navbar-expand-lg navbar-dark p-1">
    <div class="container">
      <a class="navbar-brand" href="/"><span class="mx-auto">PLANTBACEキッチン</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse float-right" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li><%= link_to 'タイムライン', users_timeline_path, class: "btn ml-6 text-light" %></li>
            <li><%= link_to 'レシピ一覧', recipes_path, class: "btn ml-6 text-light" %></li>
            <li><%= link_to 'お気に入り', likes_user_path(current_user), class: "btn ml-6 text-light" %></li>
            <li><%= link_to 'マイページ', user_path(current_user), class: "btn ml-6 text-light" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn text-light" %></li>
          <% else %>
            <li><%= link_to 'TOP', root_path, class: "btn text-light" %></li>
            <li><%= link_to 'ABOUT', home_about_path, class: "btn text-light" %></li>
            <li><%= link_to 'レシピ一覧', recipes_path, class: "btn text-light" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "btn text-light" %></li>
            <li><%= link_to 'ログイン', new_user_session_path, class: "btn text-light" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>